*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #fff8de;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  font-family: "Josefin Sans", sans-serif;
}

.button {
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  padding: 5px 5px;
  color: black;
  background-color: #fff8de;
  box-shadow: 2px 2px 2px #75756f;
}

.button:hover {
  box-shadow: 1px 1px 2px #fff8de;
  color: #fff8de;
  background-color: black;
}

.score {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.canvas {
  background-color: rgb(177, 177, 177);
  border-radius: 13px;
  display: grid;
  border: 3px solid;
  height: 400px;
  width: 400px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 6px 6px;
}

.play-area {
  background-color: #fff8de;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.block {
  width: 94px;
  height: 94px;
  color: white;
  font-size: 35px;
  font-family: "Bakbak One", cursive;
}

.two {
  background-color: #ffd391;
}

.four {
  background-color: #ffc269;
}

.eight {
  background-color: #ffb341;
}

.sixteen {
  background-color: #ffa216;
}

.thirty-two {
  background-color: #ffa991;
}

.sixty-four {
  background-color: #ffaa69;
}

.one-two-eight {
  background-color: #ff7842;
}

.two-five-six {
  background-color: #ff6721;
}

.five-one-two {
  background-color: #9691ff;
}

.one-thousand-two-four {
  background-color: #a869ff;
}

.two-thousand-four-eight {
  background-color: #aa42ff;
}
